/** {*/
    /*-fx-font-family: Lato, Arial;*/
    /*-fx-font-color: #FFFFFF;*/
/*}*/

/*AnchorPane, MenuBar, ListView {*/
    /*-fx-background-color: #7EA16B;*/
/*}*/

.combo-box, .text-field, .color-picker, .spinner {
    -fx-background-color: #C3D898;
}

.list-cell:odd {
    -fx-background: #C3D898;
}

.list-cell:even {
    -fx-background: #7EA16B;
}

.button {
    -fx-padding: 5px;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: rgba(100%, 100%, 100%, 0.75);
    -fx-font-size: 11pt;
}

.button:pressed {
    -fx-opacity: 0.5;
    -fx-text-fill: black;
}

.button:disabled {
    -fx-opacity: 0.5;
    -fx-text-fill: rgba(0, 0, 0, 0.5);
}

.timer-view {
    -fx-max-height: 200px;
    -fx-max-width: 200px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-margin: 15px;
}

.timer-view-header {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.timer-view-label {
    -fx-padding: 5px;
    -fx-font-size: 14pt;
}

.color-selector-square {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
}

.color-selector-square:pressed {
    -fx-opacity: 0.25;
}

.color-square {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
}

.timer-label {
    -fx-font-size: 20pt;
}

.form-title {
    -fx-font-size: 20pt;
    -fx-margin: 10px;
    -fx-alignment: CENTER;
}

.custom-button {
    -fx-background-color: #1c3144;
    -fx-text-fill: white;
}
